{% extends "base.html.twig" %}

{% block body %}
    <div class="container h-100 mt-5">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="row">
                    <h2>The category you selected is already full. Please select another one.</h2>
                </div>
                <div class="row">
                    <a href="{{ path('assistant_register') }}">Back to register</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}